<%- include layouts/header.ejs %>

<div class="container">
  <form method="post" action="/questions/add">
    Question: <input type="text" name="question" required /></td>
    <div class="container" id="ans">
      <label>a)</label><input type="text" name="answers[0][body]" placeholder="Answer" required />
      <br  />
    </div>
    <br />
    <input type="button" class="btn btn-default" value="Add answer" onclick="addAnswerForm()" />
    &nbsp; <input type="button" class="btn btn-default" value="Remove answer" onclick="removeAnswerForm()" />
    <br />
    <br />
    <div>
      Correct answer:
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          a) <span class="caret"></span>
        </button>
        <input type="hidden" name="correct" id="correct" value="0" />
        <ul class="dropdown-menu">
          <li><a href="#" data-value="0">a)</a></li>
        </ul>
      </div>
    </div>
    <br />
    <label>Categories (separated by commas):</label>
    <br />
    <textarea class="text" cols="40" rows ="5" name="rawCategories" required></textarea>
    <br />
    <br />
    &nbsp; <input type="submit" name="submit" value="Save" />
    <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
  </form>
</div>
<%- include layouts/footer.ejs %>
